= form_for @topping do |f|
  - if @topping.errors.any?
    #error_explanation
      %h2 = pluralize(@topping.errors.count, 'error') + "prohibted this topping from being saved"

  .field
    = f.label :name
    = f.text_area :name

    = f.submit
