%p#notice= notice

= "Name: #{@topping.name.humanize}"
- if @topping.seasonal?
  Seasonal
- if @topping.active?
  Active

- if policy(@topping).update?
  = link_to 'Edit', edit_topping_path(@topping)
