#delivery-hours {
  text-align: center;
  text-shadow: 0 0 20px #000;
  font-size: 21px;
  color: white;
  margin-top: 8px;
}

#phone-numbers {
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
  text-shadow: 0 0 20px #000;
  font-size: 24px;
  color: white;
  margin: 4px;
}

#logo {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#order-online {
  margin-top: 8px;
  a img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: auto;
    width: 240px;
  }
}
