#logo {
  max-height: 200px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  position: relative;
  top: -40px;
}

#logo-wrapper {
  height: 219px;
  width: 194px;
}

#phone-numbers a {
  color: white;
}
