#logo {
  max-height: 200px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  transition: all .1s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

#logo-wrapper {
  height: 200px;
  width: 163px;
  top: -40px;
  position: relative;
}

#logo-wrapper {
  height: 219px;
  width: 194px;
}

#phone-numbers a {
  color: white;
  font-size: 140%;
  font-weight: 600;
  text-shadow: 0 0 20px #000;
}
