#application {
  padding-left: 20px;
  padding-right: 20px;
}

body {
  background: white;
}

@font-face {
  font-family: 'Knockout Bantamweight';
  src: font-url(../fonts/Knockout-HTF47-Bantamweight.ttf);
}
