#application {
  padding-left: 20px;
  padding-right: 20px;
}

body {
  background-color: black;
}

@font-face {
  font-family: 'Knockout Bantamweight';
  src: asset-url('Knockout-HTF47-Bantamweight.ttf');
}
