body {
  background-image: asset-url('catering');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@font-face {
  font-family: 'Knockout Bantamweight';
  src: asset-url('Knockout-HTF47-Bantamweight.ttf');
}

@font-face {
  font-family: 'AvenirLTPro-Book';
  src: asset-url('AvenirLTPro-Book.otf');
}

@font-face {
  font-family: 'Carrosserie-Regular';
  src: asset-url('Carrosserie-Regular.ttf');
}

#paper {
  background-image: asset-url('paper-background');
  background-size: cover;
}

