body {
  background-image: asset-url('chicken-primo.jpg');
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
}

#paper {
  background-image: asset-url('cream-paper.png');
  border-image: asset-url('dark-wood.png') 1rem 1rem round;
  font-family: $font-family-serif;
}

@font-face {
  font-family: 'Knockout Bantamweight';
  src: asset-url('Knockout-HTF47-Bantamweight.ttf');
}

@font-face {
  font-family: 'AvenirLTPro-Book';
  src: asset-url('AvenirLTPro-Book.otf');
}

@font-face {
  font-family: 'Carrosserie-Regular';
  src: asset-url('Carrosserie-Regular.ttf');
}

