nav {
  width: 100%;
  text-align: center;
  background-color: white !important;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

nav a {
  text-align: center;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 33%;
  height: 33%;
  color: #A22921;
  font: 500 20px/1em 'Carrosserie-Regular', Helvetica, sans-serif;
  border-top: 31px;
}

.nav-section a:hover {
  color: #A22921;
  border-bottom: thick solid #A22921;
}
