nav {
  width: 100%;
  margin-top: 30px;
}

nav li {
  display: inline-block;
}

nav ul {
  text-align: justify;
  list-style-type: none;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  max-height: 80px;
}

nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

nav ul li {
  text-align: center;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  vertical-align: top;
}

nav ul li a {
  width: 100%;
  height: 100%;
  color: #000000;
  font: 500 20px/1em 'Carrosserie-Regular', Helvetica, sans-serif;
}
