#nav {
  margin-top: 1rem;
  border-top: 1rem;
  width: 100%;
  text-align: justify;
  margin-left: 0px;
  margin-bottom: 0px;
  max-height: 1.4rem;
  li {
    display: inline-block;
    a {
      text-align: center;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      width: 33%;
      height: 33%;
      font: 500 20px/1em 'Carrosserie-Regular', Helvetica, sans-serif;
      border-top: 31px;
    }
  }
}

#nav:after {
  content: '';
  display: inline-block;
  width: 100%;
}

#nav a:hover {
  border-bottom: thick solid black;
}


