nav {
  width: 100%;
}

nav a {
  text-align: center;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 33%;
  height: 33%;
  color: #A22921;
  font: 500 20px/1em 'Carrosserie-Regular', Helvetica, sans-serif;
  border-top: 31px;
}

#delivery-hours {
  text-align: center;
  text-shadow: 0 0 20px #000;
  font-size: 21px;
  color: white;
}

#phone-numbers {
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
  text-shadow: 0 0 20px #000;
  font-size: 24px;
  color: white;
}

#logo {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.nav-section a:hover {
  color: #A22921;
  border-bottom: thick solid #A22921;
}
