.row
  .large-6.small-6.columns
    .order-buttons.right
      = link_to 'ORDER ONLINE!', 'pagliacci.com', alt: 'Order Online!'
  .large-6.small-6.columns
    .order-buttons
      = link_to 'FIND SLICES!', 'pagliacci.com', alt: 'Find Slices!'
