.row
  .large-6.small-6.columns
    .right
      = link_to 'ORDER ONLINE', 'pagliacci.com', alt: 'Order Online', class: 'button large'
  .large-6.small-6.columns
    = link_to 'FIND SLICES', 'pagliacci.com', alt: 'Find Slices', class: 'button large'
